@{
    ViewData["Title"] = "Home Page";
}

<div id="vuecomponent">
    <component-a v-bind:name="'Tuan'"></component-a>
    <button-counter></button-counter>
</div>


@section scripts {
    <script src="~/dist/bundle.js"></script>
}


